.DS_Store

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

*.xcodeproj/xcuserdata/*.xcuserdatad

*.xccheckout
*.xcscmblueprint
*.xcuserdatad

Pods

DerivedData
build

Vendor/Parse.framework
Vendor/Bolts.framework
Vendor/FBSDKCoreKit.framework
Vendor/FBSDKLoginKit.framework

Vendor/tvOS/Parse.framework
Vendor/tvOS/Bolts.framework
Vendor/tvOS/FBSDKCoreKit.framework
Vendor/tvOS/FBSDKTVOSKit.framework
